<div class="up">
    <p class="titre">Bienvenue chez On The Road A Game !</p></div>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique recusandae tempore veritatis, eos sapiente voluptate nobis voluptatibus fugit, sint, debitis delectus?</p>
<div class="down">
    <iframe src="https://www.youtube.com/embed/EvxFepfovjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="front">
        <div class="button-border">
        <div class="button">
            <p class="text-button">REJOINDRE LE LIVE</p>
            <div class="coupure"></div>
        </div>
        </div>
    </div>
</div>