<div class="factions-container">
  <div class="factions-score">
    <div id="blue-pbar" class="factions-pbar">
      <div class="pbar-icon"></div>
      <div class="barplusname">
        <span class="bar-name">Bleu</span>
        <!--<mat-progress-bar value="50" color="#FF0000"></mat-progress-bar>-->
        <div class="pbar">
          <div class="progress"></div>
        </div>
      </div>
    </div>

    <div id="red-pbar" class="factions-pbar">
      <div class="pbar-icon"></div>
      <div class="barplusname">
        <span class="bar-name">Rouge</span>
        <!--<mat-progress-bar value="50" color="#FF0000"></mat-progress-bar>-->
        <div class="pbar">
          <div class="progress"></div>
        </div>
      </div>
    </div>

    <div id="green-pbar" class="factions-pbar">
      <div class="pbar-icon"></div>
      <div class="barplusname">
        <span class="bar-name">vert</span>
        <!--<mat-progress-bar value="50" color="#FF0000"></mat-progress-bar>-->
        <div class="pbar">
          <div class="progress"></div>
        </div>
      </div>
    </div>

    <div id="yellow-pbar" class="factions-pbar">
      <div class="pbar-icon"></div>
      <div class="barplusname">
        <span class="bar-name">Jaune</span>
        <!--<mat-progress-bar value="50" color="#FF0000"></mat-progress-bar>-->
        <div class="pbar">
          <div class="progress"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="factions-info">
    bli <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non
    pugnem cum homine, cur tantum habeat in natura boni; Mihi vero, inquit,
    placet agi subtilius et, ut ipse dixisti, pressius. Nihil opus est exemplis
    hoc facere longius. Dicet pro me ipsa virtus nec dubitabit isti vestro beato
    M. Aliis esse maiora, illud dubium, ad id, quod summum bonum dicitis,
    ecquaenam possit fieri accessio. Legimus tamen Diogenem, Antipatrum,
    Mnesarchum, Panaetium, multos alios in primisque familiarem nostrum
    Posidonium. Duo Reges: constructio interrete. Ista ipsa, quae tu breviter:
    regem, dictatorem, divitem solum esse sapientem, a te quidem apte ac
    rotunde; Cuius similitudine perspecta in formarum specie ac dignitate
    transitum est ad honestatem dictorum atque factorum. Habes, inquam, Cato,
    formam eorum, de quibus loquor, philosophorum. Cur tantas regiones
    barbarorum pedibus obiit, tot maria transmisit? Nonne videmus quanta
    perturbatio rerum omnium consequatur, quanta confusio? Hanc ergo intuens
    debet institutum illud quasi signum absolvere. Ipse Epicurus fortasse
    redderet, ut Sextus Peducaeus, Sex. In qua si nihil est praeter rationem,
    sit in una virtute finis bonorum; Eadem nunc mea adversum te oratio est. Non
    igitur de improbo, sed de callido improbo quaerimus, qualis Q.
  </div>
</div>
